html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f39c12;
}

body {
    font-family: Arial, Verdana, sans-serif
}

header h1 {
    text-align: right;
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

header h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.left_pannel {
    float: left;
    width: 20%;
    height: 300px;
}

.right_pannel {
    float: right;
    width: 80%;
    height: 300px;
    text-align: center;
}

#table {
    text-align: center;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}